* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #1A1C2F;
    font-family: monospace;
    height: 100vh;
}
h2 {
    font-size: 64px;
    margin-top: -10px;
}
#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #363B5E;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    border-style: solid;
    border-color: #252A4A;
    border-width: 4px;
    border-radius: 50%;
    padding: 40px;
    margin: 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
button:hover {
    background: #4C569F;
}

@media all and (max-width: 1200px) {
    #buttons {
        width: 700px;
    }
}

@media all and (max-width: 600px) {
    h2 {
        font-size: 50px;
    }
    #buttons {
        width: 90vw;
    }
    button {
        width: 120px;
        height: 120px;
        margin: 10px;
    }
}